@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* system default */
    @media (prefers-color-scheme: dark) {
        :root {
            --color-main: 0 0 0;
            --color-secondary: 36 37 41;
            --color-text-main: 255 255 255;
            --color-text-secondary: 36 37 41;
            --color-text-hover: 244deg 14% 7%;
            --color-text-active: 244deg 14% 7%;
        }
    }

    @media (prefers-color-scheme: light) {
        :root {
            --color-main: 255 255 255;
                --color-secondary: 244deg 14% 7%;
                --color-text-main: 255 255 255;
                --color-text-secondary: 244deg 14% 7%;
                --color-text-hover: 244deg 14% 7%;
                --color-text-active: 244deg 14% 7%;
        }
    }

    /* toggle */
    :root[data-theme="dark"] {
        --color-main: 0 0 0;
            --color-secondary: 36 37 41;
            --color-text-main: 255 255 255;
            --color-text-secondary: 36 37 41;
            --color-text-active: 244deg 14% 7%;
    }

    :root[data-theme="light"] {
    --color-main: 255 255 255;
        --color-secondary: 244deg 14% 7%;
        --color-text-main: 244deg 14% 7%;
        --color-text-secondary: 244deg 14% 7%;
        --color-text-hover: 244deg 14% 7%;
        --color-text-active: 244deg 14% 7%;
    }

}